/* CSS Styling */
*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}



section {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 20px;
  display: flex;
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
}

.contact-info {
  /* flex: 1; */
  padding-right: 80px;
  min-width: 300px;
}

.contact-info h1 {
  color: #333;
  font-size: 2rem;
}

.contact-info p {
  color: #777;
}

.contact-form {
  padding: 1rem;
  border-radius: 5px;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.219);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}
.icons a{
  margin-right: 0.5rem;
  margin-left: 0.3rem;
}