

.popup{
  background-color: #ffffff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.281);
  width: 450px;
  padding: 30px 40px;
  position: fixed;
  /* transform: translate(-50%,-50%); */
  left: 30%;
  top: 30%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
  z-index: 100;
  animation: notification 0.5s ease-in;
}
@keyframes notification {
  0%{
    transform: scale(0);
  }
  83%{
    transform: scale(1.2);
  }
}

.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
.popup a{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #0f72e5;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;
}
