
<header>
  <h1>Welcome to Khanqah Sirajia - Hajj & Umrah Services Website!</h1>
</header>
<div class="headerMarquee">
<h1><marquee behavior="" direction="right">لَبَّیْکَ اَللّٰھُمَّ لَبَّیْکَ لَبَّیْکَ لَا شَرِیْکَ لَکَ لَبَّیْکَ اِنَّ الْحَمْدَ وَالنِّعْمَتَھ لَکَ وَالْمُلک لَاشَرِیْکَ لَکَ</marquee></h1>
</div>
<nav>
  <a href="index.php">Home</a>
  <a href="packages.php">Packages</a>
  <a href="gallery.php">Events</a>
  <a href="document.php">Documents</a>
  <a href="hajj.php">Hajj & Umrah</a>
  <a href="career.php">Careers</a>
  <a href="management.php">Management</a>
  <a href="contact.php">Contact</a>
</nav>